.cards {
  margin-left: 6rem;
  margin-right: 6rem;
  display: grid;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.flexcontainer {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.wrapper_end {
  margin-left: auto;
  margin-right: 4rem;
}

.wrapper_front {
  margin-left: 4rem;
  cursor: pointer;
}

.flexcontainer p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.icon {
  margin-right: 1rem;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

/*********************************** responsive ************************************/

/* Responsive */

@media (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
