.flexcontainer {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.cards {
  margin-left: 6rem;
  margin-right: 6rem;
  display: grid;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

/*********************************** responsive ************************************/

/* Responsive */

@media (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
