* {
  color: #000000;
  font-family: "Inter", Helvetica;
  line-height: normal;
}

.title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 3.4px;
  text-align: center;
  padding-top: 4rem;
}

.imgBox {
  width: 229px;
  max-height: 169px;
}

.wrapper {
  margin-top: 6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.wrapper p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

.cards {
  margin-left: 6rem;
  margin-right: 6rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
}

/*********************************** Sidebarbutton ************************************/

/* Responsive */

@media (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
