.imge {
  height: 270px;
  width: 229px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.text {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

/*********************************** Sidebarbutton ************************************/

/* Responsive */

@media (min-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .imge {
    height: 270px;
    width: 229px;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .imge {
    height: 240px;
    width: 199px;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .imge {
    height: 260px;
    width: 219px;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1500px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .imge {
    height: 300px;
    width: 259px;
    margin-bottom: 0.5rem;
  }
}
