* {
  color: #000000;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

/* .flexcontainer {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  margin: 6rem;
  padding-left: 4rem;
} */

.flexcontainer {
  margin: 6rem;
  display: grid;
  justify-content: center;
  gap: 4rem;
}

.imgBox {
  width: 560px;
  max-height: 493px;
  margin: auto;
}

.flexcontainer2 {
  padding-left: 34rem;
  padding-right: 4rem;
  margin: auto;
}

.flexcontainer p {
  font-size: 22px;
  font-weight: 400;
  padding-top: 1.5rem;
}

.flexcontainer h1 {
  font-size: 34px;
  font-weight: 700;
  padding-top: 3.5rem;
}

.flexcontainer h2 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 4rem;
  white-space: nowrap;
  cursor: pointer;
}

/*********************************** Responsive ************************************/

@media (min-width: 500px) {
  .flexcontainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .imgBox {
    width: 360px;
    max-height: 293px;
    margin: auto;
  }
  .flexcontainer2 {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
  }
}

@media (min-width: 600px) {
  .flexcontainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .imgBox {
    width: 360px;
    max-height: 293px;
    margin: auto;
  }
  .flexcontainer2 {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .flexcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .imgBox {
    width: 560px;
    max-height: 493px;
  }
  .flexcontainer2 {
    padding-left: 12rem;
    padding-right: 4rem;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .flexcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .imgBox {
    width: 560px;
    max-height: 493px;
  }
  .flexcontainer2 {
    padding-left: 12rem;
    padding-right: 4rem;
    margin: auto;
  }
}
